name: Test

on:
  push:
  pull_request:
  schedule:
    - cron: '0 */2 * * *'
  workflow_dispatch:

env:
  PYTHON_VERSION: 3.13.0

jobs:
  pytest:
    name: pytest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Unit test
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt -r requirements-dev.txt
          pip install -e .
          pytest --log-level=DEBUG -s --retries 2 --retry-delay 300
